.cabinetContainer {
  text-align: center;
}

.cabinetRemoveBtn {
  background: red!important;
  color: white!important;
  width: 200px!important;
  margin-top: 0!important;
}

.cabinetServiceContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-direction: column;
}

.cabinetServiceContainerItem {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  span {
    width: 200px;
  }
}
