.cabinetContainer {
  text-align: center;
}

.cabinetRemoveBtn {
  background: red!important;
  color: white!important;
  width: 200px!important;
  margin-top: 0!important;
}

.cabinetTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin: 0 10px;
  }
}

.cabinetServiceContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-direction: column;
}

.cabinetServiceContainerItem {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  span {
    width: 200px;
  }
}

.cabinetTitle {
  color: lightgrey;
  cursor: pointer;
  position: relative;
}


.cabinetTitleActive {
  color: lightblue;
  cursor: pointer;
  position: relative;

  &:after {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    content: "";
    background: lightblue;
  }
}

.cabinetForm {
  div {
    justify-content: center;
  }
}
